# Setup SQL Database

In [2]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [3]:
#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'yammer_db'
username = 'davestanley'
pswd = 'coco'

In [4]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://davestanley:coco@localhost/yammer_db
postgresql://davestanley:coco@localhost/yammer_db

In [5]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://davestanley:coco@localhost/yammer_db

In [13]:
# load a database from the included CSV
# edit the string below to account for where you saved the csv.
import os

csv_path = os.path.join('.','yammer_events.csv')
data = pd.read_csv(csv_path)

In [14]:
data

,user_id,occurred_at,event_type,event_name,location,device,user_type
0,10522.0,2014-05-02 11:02:39,engagement,login,Japan,dell inspiron notebook,3.0
1,10522.0,2014-05-02 11:02:53,engagement,home_page,Japan,dell inspiron notebook,3.0
2,10522.0,2014-05-02 11:03:28,engagement,like_message,Japan,dell inspiron notebook,3.0
3,10522.0,2014-05-02 11:04:09,engagement,view_inbox,Japan,dell inspiron notebook,3.0
4,10522.0,2014-05-02 11:03:16,engagement,search_run,Japan,dell inspiron notebook,3.0
5,10522.0,2014-05-02 11:03:43,engagement,search_run,Japan,dell inspiron notebook,3.0
6,10612.0,2014-05-01 09:59:46,engagement,login,Netherlands,iphone 5,1.0
7,10612.0,2014-05-01 10:00:18,engagement,like_message,Netherlands,iphone 5,1.0
8,10612.0,2014-05-01 10:00:53,engagement,send_message,Netherlands,iphone 5,1.0
9,10612.0,2014-05-01 10:01:24,engagement,home_page,Netherlands,iphone 5,1.0
10,10612.0,2014-05-01 10:01:52,engagement,like_message,Netherlands,iphone 5,1.0
11,10612.0,2014-05-01 10:02:17,engagement,home_page,Netherlands,iphone 5,1.0
12,10612.0,2014-05-01 10:02:51,engagement,view_inbox,Netherlands,iphone 5,1.0
13,10612.0,2014-05-01 10:03:17,engagement,like_message,Netherlands,iphone 5,1.0
14,10612.0,2014-05-01 10:03:40,engagement,home_page,Netherlands,iphone 5,1.0
15,10612.0,2014-05-01 10:04:06,engagement,send_message,Netherlands,iphone 5,1.0
16,10612.0,2014-05-01 10:04:44,engagement,like_message,Netherlands,iphone 5,1.0
17,10612.0,2014-05-01 10:05:18,engagement,send_message,Netherlands,iphone 5,1.0
18,10736.0,2014-05-09 17:52:45,engagement,login,Austria,iphone 4s,2.0
19,10736.0,2014-05-09 17:53:16,engagement,like_message,Austria,iphone 4s,2.0
20,10736.0,2014-05-09 17:53:51,engagement,send_message,Austria,iphone 4s,2.0
21,10965.0,2014-05-15 13:52:59,engagement,login,Finland,windows surface,3.0
22,10965.0,2014-05-15 13:53:31,engagement,home_page,Finland,windows surface,3.0
23,11020.0,2014-05-08 09:15:35,engagement,login,Japan,macbook air,2.0
24,11020.0,2014-05-08 09:15:58,engagement,home_page,Japan,macbook air,2.0
25,11020.0,2014-05-08 09:16:31,engagement,view_inbox,Japan,macbook air,2.0
26,11020.0,2014-05-08 09:16:58,engagement,home_page,Japan,macbook air,2.0
27,11020.0,2014-05-08 09:17:26,engagement,view_inbox,Japan,macbook air,2.0
28,11020.0,2014-05-08 09:17:56,engagement,send_message,Japan,macbook air,2.0
29,11020.0,2014-05-08 09:18:30,engagement,view_inbox,Japan,macbook air,2.0
...,...,...,...,...,...,...,...
340802,18806.0,2014-08-31 19:42:33,engagement,home_page,Greece,lenovo thinkpad,3.0
340803,18806.0,2014-08-31 19:42:54,engagement,view_inbox,Greece,lenovo thinkpad,3.0
340804,18806.0,2014-08-31 19:43:21,engagement,send_message,Greece,lenovo thinkpad,3.0
340805,18806.0,2014-08-31 19:41:54,engagement,search_autocomplete,Greece,lenovo thinkpad,3.0
340806,18806.0,2014-08-31 19:42:24,engagement,search_autocomplete,Greece,lenovo thinkpad,3.0
340807,18806.0,2014-08-31 19:43:05,engagement,search_autocomplete,Greece,lenovo thinkpad,3.0
340808,18806.0,2014-08-31 19:43:33,engagement,search_autocomplete,Greece,lenovo thinkpad,3.0
340809,18806.0,2014-08-31 19:44:06,engagement,search_autocomplete,Greece,lenovo thinkpad,3.0
340810,18809.0,2014-08-31 23:01:15,engagement,login,Pakistan,dell inspiron notebook,3.0
340811,18809.0,2014-08-31 23:01:46,engagement,like_message,Pakistan,dell inspiron notebook,3.0
340812,18809.0,2014-08-31 23:01:44,engagement,search_autocomplete,Pakistan,dell inspiron notebook,3.0
340813,18809.0,2014-08-31 23:02:05,engagement,search_autocomplete,Pakistan,dell inspiron notebook,3.0
340814,18809.0,2014-08-31 23:02:31,engagement,search_autocomplete,Pakistan,dell inspiron notebook,3.0
340815,18809.0,2014-08-31 23:03:13,engagement,search_autocomplete,Pakistan,dell inspiron notebook,3.0
340816,18809.0,2014-08-31 23:03:39,engagement,search_autocomplete,Pakistan,dell inspiron notebook,3.0
340817,18813.0,2014-08-31 18:44:53,engagement,login,United Kingdom,nexus 10,2.0
340818,18813.0,2014-08-31 18:45:22,engagement,like_message,United Kingdom,nexus 10,2.0
340819,18813.0,2014-08-31 18:45:40,engagement,home_page,United Kingdom,nexus 10,2.0
340820,18813.0,2014-08-31 18:46:20,engagement,view_inbox,United Kingdom,nexus 10,2.0
340821,18813.0,2014-08-31 18:46:57,engagement,home_page,United Kingdom,nexus 10,2.0
340822,18813.0,2014-08-31 18:47:29,engagement,view_inbox,United Kingdom,nexus 10,2.0
340823,18814.0,2014-08-31 12:13:31,engagement,login,Japan,dell inspiron notebook,3.0
340824,18814.0,2014-08-31 12:14:14,engagement,view_inbox,Japan,dell inspiron notebook,3.0
340825,18814.0,2014-08-31 12:14:41,engagement,home_page,Japan,dell inspiron notebook,3.0
340826,18815.0,2014-08-31 13:41:06,engagement,login,Ireland,dell inspiron notebook,2.0
340827,18815.0,2014-08-31 13:41:46,engagement,like_message,Ireland,dell inspiron notebook,2.0
340828,18815.0,2014-08-31 13:42:11,engagement,home_page,Ireland,dell inspiron notebook,2.0
340829,18815.0,2014-08-31 13:42:43,engagement,send_message,Ireland,dell inspiron notebook,2.0
340830,18815.0,2014-08-31 13:43:07,engagement,home_page,Ireland,dell inspiron notebook,2.0
340831,18815.0,2014-08-31 13:43:42,engagement,like_message,Ireland,dell inspiron notebook,2.0

In [ ]:
data.to_sql('yammer_events', engine, if_exists='replace')

In [7]:
csv_path = os.path.join('.','yammer_emails.csv')
data = pd.read_csv(csv_path)
data.to_sql('yammer_emails', engine, if_exists='replace')

In [8]:
csv_path = os.path.join('.','yammer_users.csv')
data = pd.read_csv(csv_path)
data.to_sql('yammer_users', engine, if_exists='replace')

In [9]:
csv_path = os.path.join('.','dimension_rollup_periods.csv')
data = pd.read_csv(csv_path)
data.to_sql('dimension_rollup_periods', engine, if_exists='replace')

In [6]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM yammer_events WHERE event_type='engagement';
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

,index,user_id,occurred_at,event_type,event_name,location,device,user_type
0,0,10522.0,2014-05-02 11:02:39,engagement,login,Japan,dell inspiron notebook,3.0
1,1,10522.0,2014-05-02 11:02:53,engagement,home_page,Japan,dell inspiron notebook,3.0
2,2,10522.0,2014-05-02 11:03:28,engagement,like_message,Japan,dell inspiron notebook,3.0
3,3,10522.0,2014-05-02 11:04:09,engagement,view_inbox,Japan,dell inspiron notebook,3.0
4,4,10522.0,2014-05-02 11:03:16,engagement,search_run,Japan,dell inspiron notebook,3.0

In [12]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT DATE_TRUNC('week', to_timestamp(e.occurred_at,'yyyy/mm/dd HH24:MI:SS')),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

DatabaseError: Execution failed on sql '
SELECT DATE_TRUNC('week', to_timestamp(e.occurred_at,'yyyy/mm/dd HH:MI')),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
': hour "17" is invalid for the 12-hour clock
HINT:  Use the 24-hour clock, or give an hour between 1 and 12.

In [24]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

DatabaseError: Execution failed on sql '
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
': function date_trunc(unknown, text) does not exist
LINE 2: SELECT DATE_TRUNC('week', e.occurred_at),
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.