# Setup SQL Database

In [1]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [3]:
#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'yammer_db'
username = 'davestanley'
pswd = 'coco'

In [4]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://davestanley:coco@localhost/yammer_db
postgresql://davestanley:coco@localhost/yammer_db

In [5]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://davestanley:coco@localhost/yammer_db

In [ ]:
# load a database from the included CSV
# edit the string below to account for where you saved the csv.
import os

csv_path = os.path.join('.','yammer_events.csv')
data = pd.read_csv(csv_path)
data.to_sql('yammer_events', engine, if_exists='replace')

In [ ]:
type(data)

In [ ]:
csv_path = os.path.join('.','yammer_emails.csv')
data = pd.read_csv(csv_path)
data.to_sql('yammer_emails', engine, if_exists='replace')

In [12]:
csv_path = os.path.join('.','yammer_users.csv')
data = pd.read_csv(csv_path)
data.to_sql('yammer_users', engine, if_exists='replace')

In [13]:
csv_path = os.path.join('.','dimension_rollup_periods.csv')
data = pd.read_csv(csv_path)
data.to_sql('dimension_rollup_periods', engine, if_exists='replace')

In [25]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM yammer_events WHERE event_type='engagement';
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

,index,user_id,occurred_at,event_type,event_name,location,device,user_type
0,0,10522.0,2014-05-02 11:02:39,engagement,login,Japan,dell inspiron notebook,3.0
1,1,10522.0,2014-05-02 11:02:53,engagement,home_page,Japan,dell inspiron notebook,3.0
2,2,10522.0,2014-05-02 11:03:28,engagement,like_message,Japan,dell inspiron notebook,3.0
3,3,10522.0,2014-05-02 11:04:09,engagement,view_inbox,Japan,dell inspiron notebook,3.0
4,4,10522.0,2014-05-02 11:03:16,engagement,search_run,Japan,dell inspiron notebook,3.0

In [52]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

DatabaseError: Execution failed on sql '
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
': function date_trunc(unknown, text) does not exist
LINE 2: SELECT DATE_TRUNC('week', e.occurred_at),
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

In [24]:
## Now try the same queries, but in python!

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
"""
data_fromSQL = pd.read_sql_query(sql_query,con)

data_fromSQL.head()

DatabaseError: Execution failed on sql '
SELECT DATE_TRUNC('week', e.occurred_at),
       COUNT(DISTINCT e.user_id) AS weekly_active_users
  FROM yammer_events e
 WHERE e.event_type = 'engagement'
   AND e.event_name = 'login'
 GROUP BY 1
 ORDER BY 1
': function date_trunc(unknown, text) does not exist
LINE 2: SELECT DATE_TRUNC('week', e.occurred_at),
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.